.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 15px;
  left: 86px;
  height: 138px;
  width: 138px;
  opacity: 0;
  transition: 0.2s ease;
  background-color: #d3d3d3;
  border-radius: 7px;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.67);
  cursor: pointer;
}

.overlay-container:hover .overlay {
  opacity: 0.5;
}
